* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fredoka", sans-serif;
}

header{
    color: pink;
    text-align: center;
    padding: 30px 0;
}

.main-container{
    width: 920px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-cards{
    margin-top: 30px;
    display: flex;
}

.row{
    display: flex;
    flex-wrap: wrap;
    height: 80px;
}

.col{
    padding: 15px;
    width: calc(100%/3);
}

.col .card{
    background-color: black;
    height: 80px;
    box-shadow: -1px -1px 20px 0px rgba(0,0,0,0.69);

}

.card{
    display: flex;
}

img {
    max-height: 100px;
}

.profile{
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
    margin: auto 0;
    list-style-type: none;
    color: white;
}

.profile .name{
    font-weight: bold;
    text-transform: uppercase;
}

.job, .email{
    font-size: 0.8rem;
}

.email a{
    text-decoration: none;
    color: lightskyblue;
}